<!doctype html>

<html lang="de">

<head>
    {% load static %}

    <!-- Meta -->
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  	<meta name="description" content="Honorardar">
  	<meta name="author" content="Michel Penke und Haluka Maier-Borst">
  	<meta name="date" content="2017-11-18">
  	<meta name="robots" content="index,follow">

    <!-- Favicon final_redone: https://realfavicongenerator.net PLEASE DO NOT FORGET -->
    <link rel="shortcut icon" type="image/x-icon" href="#">
    <link rel="apple-touch-icon" sizes="180x180" href="#">
    <link rel="icon" type="image/png" sizes="32x32" href="#">
    <link rel="icon" type="image/png" sizes="16x16" href="#">
    <link rel="manifest" href="{% static 'honoradar/manifest.json'%}">
    <link rel="mask-icon" href="{% static 'honoradar/safari-pinned-tab.svg'%}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'honoradar/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'honoradar/css/font.css'%}">
    <link rel="stylesheet" href="{% static 'honoradar/navbar/css/reset.css'%}">
    <link rel="stylesheet" href="{% static 'honoradar/navbar/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'honoradar/lity/dist/lity.css'%}">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="XXX">
    <meta name="twitter:description" content="XXX">
    <meta name="twitter:url" content="XXX">
    <meta name="twitter:image" content="XXX">

    <!-- Facebook / Open Graph -->
    <meta property="og:type" content="article">
    <meta property="og:locale" content="de_DE">
    <meta property="og:site_name" content="XXX">
    <meta property="og:title" content="XXX">
    <meta property="og:description" content="XXX">
    <meta property="og:url" content="XXX">
    <meta property="og:image" content="XXX">

    <!-- General SEO -->
    <meta name="author" content="Michel Penke und Haluka Maier-Borst">
    <meta name="title" content="XXX">
    <meta name="description" content="XXX">
    <meta name="keywords" content="XXX">

</head>

<body>
    <title>Honoradar</title>

<!-- Parallax -->
    <div class="panel">
		<h1 class="head-title">Was verdienen Journalisten?</h1>
		<h2 class="head-subtitle-1">Die <span class="f-top"><span>:</span>F</span>-Datenbank gibt die Antwort: Hier spenden Journalisten Gehalts- und Lohndaten und erfahren, was ihre Kollegen verdienen.</h2>
		<h2 class="head-subtitle-2">Bisher spendeten Journalisten 1.245 Daten über 134 Medien.</h2>
		<a href="#banderole" id="machmit" class="smooth clear-absolute"><h3 class="head-action">Mach mit!</h3></a>
		<div class="head-box-1"></div>
		<div class="head-box-2"></div>
		<div class="head-box-0"></div>

    </div>

<!-- Navbar -->
    <a href="#cd-nav" class="cd-nav-trigger clear-fixed">Menu
		<span class="cd-nav-icon"></span>
		<svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
		<circle fill="transparent" stroke="#2ecc71" stroke-width="2" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
		</svg>
	</a>

    <div id="cd-nav" class="cd-nav">
    <div class="cd-navigation-wrapper">
    <div class="cd-half-block">
    <h2 class="navtitle1">Navigation</h2>
        <nav>
        <ul class="cd-primary-nav">
            <li><a href="index.html" class="selected">Honoradar</a></li>
            <li><a href="data.html">Rankings</a></li>
            <li><a href="himmel-und-hoelle-preis.html">Himmel-Hölle-Preis</a></li>
            <li><a href="#0">Newsletter</a></li>
            <li><a href="impressum.html">Impressum</a></li>
        </ul>
        </nav>
        </div>
    <div class="cd-half-block">
    <address>
	<ul class="cd-contact-info">
	<h2 class="navtitle2">Kontakt</h2>
	<li><a href="mailto:kontakt@freischreiber.de" class="clear-navi">kontakt@freischreiber.de</a></li>
	<li><a href="tel:04022867152" class="clear-navi">040 – 22 86 71 52</a></li>
	<li><a href="//maps.google.com/maps?q=Hoheluftchaussee+53A,+20253+Hamburg/" class="clear-navi" data-lity>
		<span>Büro Freischreiber e.V.</span>
		<span>Hoheluftchaussee 53a</span>
		<span>20253 Hamburg 24</span>
	</a></li>
	</ul>
	</address>
    </div>
    </div>
    </div>

<!-- Main -->
<main id="main">
<!-- Banderole -->
<div class="banderole" id="banderole"></div>

<!-- Safe-Points -->
	<div class="safe-box">
		<a target="_blank" href="#"><div class="safe safe-1 safetile"></div></a>
		<a target="_blank" href="#"><div class="safe safe-2 safetile"></div></a>
		<a target="_blank" href="#"><div class="safe safe-3 safetile-gross"></div></a>
		<a target="_blank" href="#"><div class="safe safe-4 safetile"></div></a>
		<a target="_blank" href="#"><div class="safe safe-5 safetile"></div></a>
	</div>

<!-- Input-Input-Box -->
    <div class="giv-get" id="giv-get">
    <div class="giv">

    <form action="{% url 'honoradar:senddata' %}" method="post" data-url="{% url 'honoradar:senddata' %}" name="firstbox" id="giv-form">
      {% csrf_token %}

	<div class="banner-left-1 hide" id="banner-left-1">Erzähle, was du verdienst!</div>
	<div class="banner-left-3" id="banner-left-4">Vielen Dank!</div>
	<div class="banner-left-shadow"></div>
	<div id="banner-left-triangle" class="banner-left-shadow hide"></div>

<!-- Medium-Select -->
    <input name="MediumName" id="data_medium" class="media-select dropdown hide" list="medium" placeholder="Für welches Medium arbeitest du?" type="text" />
    <datalist id="medium">
	<!--[if lte IE 9]><select data-datalist="samples"><![endif]-->
		<option value="Frankfurter Allgemeine Zeitung (FAZ)">
		<option value="Spiegel">
		<option value="Spiegel TV">
		<option value="Spiegel Online (SPON)">
		<option value="Süddeutsche Zeitung (SZ)">
		<option value="Südwestrundfunk (SWR)">
		<option value="Tagesspiegel">
		<option value="Zeit Online (ZON)">
    <!--[if lte IE 9]></select><![endif]-->
	</datalist>
	<!-- Support Safari? https://stackoverflow.com/questions/27494084/html5-datalist-tag-is-not-populating-in-safari?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa -->

<!-- Switch-Select -->
	<div class="switch-field switch-field-text switch-field-text-1 tooltip hide" id="data_arbeitsverhaeltnis">
		<input name="FreeOrEmployed" type="radio" id="data_arbeitsverhaeltnis_frei" name="switch" value="frei" onclick="freifunction()"/>
		<label for="data_arbeitsverhaeltnis_frei">Frei<span id="question-3">?</span></label>
		<input name="FreeOrEmployed" type="radio" id="data_arbeitsverhaeltnis_pauschal" name="switch" value="pauschal" onclick="pauschalfunction()"/>
		<label for="data_arbeitsverhaeltnis_pauschal">Pauschal<span id="question-2">?</span></label>
		<input name="FreeOrEmployed" type="radio" id="data_arbeitsverhaeltnis_fest" name="switch" value="fest" onclick="festfunction()"/>
		<label for="data_arbeitsverhaeltnis_fest">Fest<span id="question-1">?</span></label>
	</div>

	<div class="break"></div>

<!-- Loan-Select -->
  	<input  name="SalaryPerMonthEmpMix" id="data_gehalt" class="loan-select hide" list="gehalt" placeholder="Gehalt pro Monat?" type="number"	min="0" oninput="validity.valid||(value='');" inputmode="numeric" />

<!-- Hour-Week-Select -->
    <div class="day-month-select hide pre-alert-bar-hour-week" id="pre-data_stunden_woche">
		<style id="style-hour-week" scoped></style>
    	<input id="data_stunden_woche" name="HoursPerWeekEmp" class="hour-week-bar alert-bar_stunden_woche" type="range" min="1" max="50" value="0" onmousedown="alertoffdatahourweek()" ontouchstart="alertoffdatahourweek()"/>
	<p id="outputhourweek" class="output">0</p>
    </div>
    <div class="break hide" id="break-1"></div>

<!-- Day-Month-Select -->
    <div class="day-month-select hide pre-alert-bar-day-month" id="pre-data_tag_monat">
		<style id="style-day-month" scoped></style>
      	<input name="DaysPerMonthMix" id="data_tag_monat" class="day-month-bar alert-bar_tag_monat" type="range" min="0" max="30" value="0" onmousedown="alertoffdatadaymonth()" ontouchstart="alertoffdatadaymonth()"/>
		<p id="outputdaymonth" class="output">0</p>
	</div>

<!-- Hour-Day-Select -->
    <div class="hour-day-select hide pre-alert-bar-hour-day" id="pre-data_stunden_tag">
		<style id="style-hour-day" scoped></style>
        <input name="HoursPerDayMix" id="data_stunden_tag" class="hour-day-bar alert-bar_stunde_tag" type="range" min="0" max="24" value="0" onmousedown="alertoffdatahourday()" ontouchstart="alertoffdatahourday()"/>
		<p id="outputhourday" class="output">0</p>
	</div>

<!-- Freelancer-fee-Select -->
    <input name="FeeFree" id="data_honorar" class="loan-select hide" list="gehalt" placeholder="Lohn für den Auftrag?" type="number"	min="0" oninput="validity.valid||(value='');" inputmode="numeric" />

<!-- Unit-Select -->
    <div class="hide" id="pre-data_format_text_audio_video">
    <div id="data_format_text_audio_video" class="switch-field switch-field-text switch-field-text-2 tooltip alert-switch">
        <input type="radio" id="data_format_text" name="VideoAudioTextFree" value="text" onclick="textfunction()"/>
        <label for="data_format_text">Text</label>
        <input type="radio" id="data_format_audio" name="VideoAudioTextFree" value="audio" onclick="audiofunction()"/>
        <label for="data_format_audio">Audio</label>
        <input type="radio" id="data_format_video" name="VideoAudioTextFree"value="video" onclick="videofunction()"/>
        <label for="data_format_video">Video</label>
    </div>
    </div>

<!-- Text-Amount-Select -->
    <div class="text-amount-select hide pre-alert-bar-text" id="pre-data_laenge_text">
		<style id="style-text" scoped></style>
        <input name="CharPerArticleFree" id="data_laenge_text" class="range amount-text-bar alert-bar_text" type="range" min="0" max="20000" value="0" step="100"/ onmousedown="alertoffdatatext()" ontouchstart="alertoffdatatext()">
		<p id="outputtext" class="output">0</p>
	</div>

<!-- Audio-Amount-Select -->
    <div class="audio-amount-select hide pre-alert-bar-audio" id="pre-data_laenge_audio">
		<style id="style-audio" scoped></style>
		<input name="MinPerAudioFree" id="data_laenge_audio" class="range amount-audio-bar alert-bar_audio" type="range" min="0" max="90" value="0" step="0.5"/ onmousedown="alertoffdataaudio()" ontouchstart="alertoffdataaudio()">
		<p id="outputaudio" class="output">0</p>
	</div>

<!-- Video-Amount-Select -->
    <div class="video-amount-select hide pre-alert-bar-video" id="pre-data_laenge_video">
	<style id="style-video" scoped></style>
        <input name="MinPerVideoFree" id="data_laenge_video" class="range amount-video-bar alert-bar_video" type="range" min="0" max="90" value="0" step="0.5"/ onmousedown="alertoffdatavideo()" ontouchstart="alertoffdatavideo()">
	<p id="outputvideo" class="output">0</p>
	</div>

<!-- Genre-Select -->
    <input name="Genre" id="data_genre" class="genre-select hide" list="genre" placeholder="Welches Genre?" type="text"/>
    <datalist id="genre">
	<!--[if lte IE 9]><select data-datalist="samples"><![endif]-->
		<option value="Analyse">
        <option value="Bericht">
        <option value="Dokumentation">
		<option value="Editorial">
		<option value="Essay">
        <option value="Feature">
		<option value="Foto">
		<option value="Gebauter Beitrag">
		<option value="Glosse">
		<option value="Infografik">
        <option value="Interview">
		<option value="Kolumne">
        <option value="Kommentar">
		<option value="Kritik">
		<option value="Leitartikel">
        <option value="Moderation">
        <option value="Nachricht">
		<option value="Podcast">
        <option value="Porträt">
        <option value="Reportage">
		<option value="Rezension">
		<option value="Servicetext">
	<!--[if lte IE 9]></select><![endif]-->
    </datalist>

<!-- Digitalization-Select -->
    <div id="pre-data_verbreitung_analog_digital_beides" class="hide">
    <div class="switch-field switch-field-text switch-field-text-3 tooltip">
        <input name="AnalogDigitalFree" type="radio" id="data_verbreitung_analog" name="switch-verbreitung" value="Analog"/>
        <label for="data_verbreitung_analog">Analog</label>
        <input name="AnalogDigitalFree" type="radio" id="data_verbreitung_digital" name="switch-verbreitung" value="Digital"/>
        <label for="data_verbreitung_digital">Digital</label>
        <input name="AnalogDigitalFree" type="radio" id="data_verbreitung_beides" name="switch-verbreitung" value="Analog & Digital"/>
        <label for="data_verbreitung_beides">Beides</label>
    </div>
    </div>

<!-- Time-Select -->
    <div class="time-select hide pre-alert-bar-time" id="pre-data_zeit">
		<style id="style-time" scoped></style>
        <input name="HoursSpentFree" id="data_zeit" class="range amount-time-bar alert-bar_time" type="range" min="0" max="100" value="0" step="0.5" onmousedown="alertoffdatatime()" ontouchstart="alertoffdatatime()"/>
		<p id="outputtime" class="output">0</p>
	</div>

	<div class="break"></div>
    <div class="banner-left-2 zbanner-left hide" id="banner-left-2">Deine Arbeitssituation:</div>
	<div class="banner-left-shadow hide" id="banner-left-shadow-2"></div>
	<div id="banner-left-triangle" class="banner-left-shadow hide"></div>

<!-- Position-Select -->
    <input name="JobPosition" id="data_position" class="position-select hide alert" list="position" placeholder="Als was arbeitest du?" type="text" onclick="alertoffdataposition()"/>
    <datalist id="position">
	<!--[if lte IE 9]><select data-datalist="samples"><![endif]-->
        <option value="Chefredakteur">
        <option value="Ressortleiter">
        <option value="Chef vom Dienst (CvD)">
        <option value="Redakteur">
        <option value="Voluntär">
        <option value="Praktikant">
	<!--[if lte IE 9]></select><![endif]-->
    </datalist>

<!-- Experience-Select -->
    <div class="switch-field switch-field-text switch-field-text-4 hide" id="pre-data_erfahrung_jahr_1_3_5">
		<input name="ExperienceEmplMix" type="radio" id="data_erfahrung_jahr_1" name="switch" value="0"/>
        <label for="data_erfahrung_jahr_1">> 1 Jahr</label>
        <input name="ExperienceEmplMix" type="radio" id="data_erfahrung_jahr_3" name="switch" value="3"/>
        <label for="data_erfahrung_jahr_3">> 5 Jahre</label>
        <input name="ExperienceEmplMix" type="radio" id="data_erfahrung_jahr_5" name="switch" value="5"/>
        <label for="data_erfahrung_jahr_5">> 10 Jahre</label>
    </div>

<!-- Happiness-Select-->
    <div class="happiness-select hide pre-alert-bar-happiness" id="pre-data_athmosphaere">
	<style id="style-happiness" scoped></style>
	<input name="Happiness" id="data_athmosphaere" class="range happiness-bar alert-bar_happiness" type="range" min="1" max="9" value="0" onmousedown="alertoffdatahappiness()" ontouchstart="alertoffdatahappiness()" ontouchmove="alertoffdatahappiness()"/>
	<p id="outputhappiness" class="fav-output fav-output-0"></p>
	</div>
	<div class="break"></div>

<!-- Comment-Select -->
    <div class="hide" id="pre-data_kommentar">
        <textarea id="data_kommentar" class="comment-select" name="Comment" placeholder="Dein Kommentar ..." maxlength="250"></textarea>
    </div>
    <span class="hide" id="disclaimer"><span class="disclaimer"><a href="#" class="clear-agb">!</a>Dein Kommentar ist anonym. Achte darauf, dass du deine Identität nicht verrätst!</span></span>

<!-- Checkbox-Select -->
    <span class="hide" id="pre-data_checkbox">
        <input name="AGB" class="checkbox" type="checkbox" id="data_checkbox" />
        <label class="checkboxlabel alert-checkbox" for="data_checkbox"></label>
        <span class="checkboxtext">Ich habe den <a href="#" target="_blank" class="clear-agb">Hinweis</a> gelesen.</span>
    </span>

    {% if messages %}
    {% for message in messages %}
    <p>
      Was fehlt:
    </p>  <span class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</span>
    {% endfor %}
    {% endif %}
    <div>
      {% for key, value in testdict %}
          <tr>
              <td> {{ key }}: </td> <td> {{ value }} </td>
          </tr>
      {% endfor %}
      </div>


<!-- Submit -->
	<div class="alert-denied alert-media-select show" id="WARNING">
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
		<strong>Achtung! </strong>Bitte fülle folgende Felder aus: Feld1, Feld2 und Feld2.
	</div>
    <input type="submit" class="submit-get hide" id="data_submit" value="Daten spenden"/>

    </form>

<!-- After-Submit Accpeted -->
	  <div class="alert alert-accepted alert-media-select show" id="ACCEPTED">
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
		Wir haben deine Infos geprüft und in die Datenbank aufgenommen.
	</div>

<!-- Newsletter-Anmeldung -->
	<p class="after-submit-text" id="after-submit-text-1">Einmal im Jahr werten wir alle Daten aus und veröffentlichen einen Gehaltsreport – inklusive der besten Arbeitgeber. Falls gewünscht, informieren wir dich via Newsletter.
	</p>
	<a href="/newsletter">
    <input type="submit" class="submit" id="newsletter_submit" value="Newsletter-Abo"/>
	</a>

<!-- Reload -->
	<p class="after-submit-text" id="after-submit-text-2">Wenn du noch mehr Daten spenden möchtest, freuen wir uns natürlich riesig. Je mehr, desto besser für alle. Vielleicht wäre die <span class="f"><span>:</span>F</span>-Datenbank ja auch was für deine Kollegen.
	</p>

	<a href="#banderole" class="smooth">
    <input type="submit" class="submit submit-reload" id="reload_submit" value="Erneut spenden" onmousedown="reload()" ontouchstart="reload()"/>
	</a>

    </div>

<!-- Output-Input-Box -->
    <div class="get">

      <form action="{% url 'honoradar:getdata' %}" method="get" data-url-get="{% url 'honoradar:getdata' %}" name-get="firstbox" id="get-form">
    <div class="banner-right-1">Erfahre, was Medien zahlen!</div><div class="banner-right-shadow"></div>

<!-- Medium-Select -->
    <input name="mediumget" id="media-analyse" class="media-select alert" list="medium" placeholder="Welches Medium interessiert dich?" type="text" onclick="getfunction()"/>

    <datalist id="medium-analyse" >
	<!--[if lte IE 9]><select data-datalist="samples"><![endif]-->
        <option value="Frankfurter Allgemeine Zeitung (FAZ)">
        <option value="Spiegel">
        <option value="Spiegel TV">
        <option value="Spiegel Online (SPON)">
        <option value="Süddeutsche Zeitung (SZ)">
        <option value="Südwestrundfunk (SWR)">
        <option value="Tagesspiegel">
        <option value="Zeit Online (ZON)">
    <!--[if lte IE 9]></select><![endif]-->
    </datalist>

<!-- Switch-Select
    <div class="switch-field switch-field-text-1 tooltip">
        <input type="radio" id="data_arbeitsverhaeltnis_fest-analyse" name="switch" value="fest" onclick="getfunctionfest()"/>
        <label for="data_arbeitsverhaeltnis_fest-analyse">Fest<span id="question-4">?</span></label>
        <input type="radio" id="data_arbeitsverhaeltnis_pauschal-analyse" name="switch" value="pauschal" onclick="getfunctionpauschal()"/>
        <label for="data_arbeitsverhaeltnis_pauschal-analyse">Pauschal<span id="question-5">?</span></label>
        <input type="radio" id="data_arbeitsverhaeltnis_frei-analyse" name="switch" value="frei" onclick="getfunctionfrei()"/>
        <label for="data_arbeitsverhaeltnis_frei-analyse">Frei<span id="question-6">?</span></label>
    </div>-->

	<div class="break"></div>

<!-- Submit -->
    <a href="#break-2" onclick="analysefunction()"><input type="submit" class="submit-giv hide" id="analyse_submit" value="Daten auslesen"/></a>

    </form>
    </div>

<!-- Grafik-Box -->
	<div class="result show" id="result">

<!-- Mediumname -->
	<div class="result-banner-left"></div>
	<div class="result-banner-right"></div>
	<div class="result-mediumname">Nürnberger Nachrichten</div>

<!-- Result Flexbox -->
	<div class="result-grid">

<!-- Result Frei-Box -->
	<div class="result-item result-item-thin">

	<div class="result-box-frei-titel">Freie Journalisten</div>
    <div class="happiness-result" id="">
		<input name="" id="result_athmosphaere-frei" class="range result_happiness-bar result_happiness-3" type="range" min="1" max="9" value="3" disabled/>
	</div>
	<div class="infografik">
		<img src="https://datavizcatalogue.com/methods/images/anatomy/box_plot.png">
	</div>

<!-- Unit-Select -->
	<p class="result_format-text">Welches Format interessiert dich?</p>
    <div class="show" id="pre-data_format_text_audio_video">
    <div id="data_format_text_audio_video" class="switch-field result_switch-field switch-field-text result_switch-field-text result_switch-field-text-5">
		<input type="radio" id="result_format_text" name="result_format" value="text" onclick="xxxfunction()" checked/>
        <label for="result_format_text">Text</label>
        <input type="radio" id="result_format_audio" name="result_format" value="audio" onclick="xxxfunction()"/>
        <label for="result_format_audio">Audio</label>
        <input type="radio" id="result_format_video" name="result_format"value="video" onclick="xxxfunction()"/>
        <label for="result_format_video">Video</label>
    </div>
    </div>
		<div class="infografik">
		<img src="https://datavizcatalogue.com/methods/images/anatomy/box_plot.png">
	</div>
	</div>

<!-- Result Pauschal-Box -->

	<div class="result-item result-item-large">
	<div class="result-item-large-first">
	<div class="result-box-pauschal-titel">Pauschalisten</div>
	<div class="happiness-result" id="">
		<input name="" id="result_athmosphaere-pauschal" class="range result_happiness-bar result_happiness-5" type="range" min="1" max="9" value="5" disabled/>
	</div>
	<div class="infografik">
		<img src="https://datavizcatalogue.com/methods/images/anatomy/box_plot.png">
	</div>
	<div class="result-item-text">Durchschnittliches Monatsgehalt: XXXX
	</div>
	</div>

<!-- Result Fest-Box -->
	<div class="result-item-large-second">
	<div class="result-box-inner result-box-fest-titel">Festangestellte</div>
    <div class="happiness-result" id="">
		<input name="" id="result_athmosphaere-fest" class="range result_happiness-bar result_happiness-8" type="range" min="1" max="9" value="8" disabled/>
	</div>
	<div class="infografik">
		<img src="https://datavizcatalogue.com/methods/images/anatomy/box_plot.png">
	</div>
	<div class="result-item-text">Durchschnittliches Monatsgehalt: XXXX
	</div>
	</div>
	</div>

<!-- Result "Daten & Fakten"-Box -->

	<div class="result-item result-item-superlarge">
	<div class="result-box-fest-titel">Daten & Fakten</div>
	<div class="fact-text">
	Anzahl der Quellen<br>
	Code of Fairness<br>
	Einteilung als was?<br>
	Comments

	</div>
	</div>

	</div>

<!-- Infografiken - Text -->
	<div class="result-text"> {% if medium %}{{ medium.mediumname }} {% endif %}</div>
	<div class="result-text"> {% if avghappiness %}{{ avghappiness}} {% endif %}</div>




      </div>

<!-- Social Share -->
	<div class="social-box">
		<a target="_blank" href="https://twitter.com/intent/tweet?url=https://wasjournalistenverdienen.de&text=Was%20verdienen%20Journalisten?%20Die%20neue%20interaktive%20Datenbank%20der%20Freischreiber:"><div class="social social-1 socialtile"></div></a>
		<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://wasjournalistenverdienen.de"><div class="social social-2 socialtile"></div></a>
		<a href="whatsapp://send?text=https://wasjournalistenverdienen.de"><div class="social social-3 socialtile"></div></a>
		<a href="fb-messenger://share/?link=https://wasjournalistenverdienen.de&app_id=123456789"><div class="social social-4 socialtile"></div></a>
		<a href="mailto:?subject=Interaktive Datenbank: Was verdienen Journalisten?&amp;body=Hallo, schau dir mal diese Seite an: https://wasjournalistenverdienen.de"><div class="social social-5 socialtile"></div></a>
	</div>


<!-- News -->
    <div class="nbox-1">
        <a href="#">
            <div class="ntile-first news news_1"><span class="news-title-head">Der große Gehalts-Report 2018</span></div>
        </a>
        <a href="#">
            <div class="ntile-first news news_2"><span class="news-title">Das sagt die Presse zum Gehalts-Report</span></div>
        </a>
        <a href="#">
            <div class="ntile-first news news_3"><span class="news-title">Was geschieht mit deinen Daten?</span></div>
        </a>
        <a href="#">
			<div class="ntile-first news news_4"><span class="news-title">Warum Daten spenden?</span></div>
        </a>
        <a href="#">
            <div class="ntile-first news news_5"><span class="news-title">Die Methodik dahinter</span></div>
        </a>
    </div>

<!-- Freischreiber-Parallax -->
    <a href="https://www.freischreiber.de" target="_blank" class="link"><div class="freischreiber-box"></div></a>

<!-- News -->
    <div class="nbox-2">
        <a href="#">
            <div class="ntile-second news news_6"><span class="news-title">So verhandelst du dein Gehalt</span></div>
        </a>
        <a href="#">
            <div class="ntile-second news news_7"><span class="news-title">Dein Kollege verdient mehr?</span></div>
        </a>
        <a href="https://www.youtube.com/watch?v=MiKw3uPGHB4" data-lity>
            <div class="ntile-second news news_8"><span class="news-title">Video: Tipps & Tricks</span></div>
        </a>
        <a href="#">
            <div class="ntile-second news news_9"><span class="news-title">Koalitionsvertrag: VG-Wort-Ausschüttungen?</span>
        </div>
		</a>
    </div>

<!-- Footer -->
	<div class="footer">
	<div class="footer-grid">
        <div class="footer-grid-first">
            <a href="../projekt"><p class="footer-item-first clear-footer">Über das Projekt</p></a>
            <a href="../credits"><p class="footer-item clear-footer">Die Macher</p></a>
            <a href="../rankings"><p class="footer-item clear-footer">Rankings & Reports</p></a>
            <a href="../methodologie"><p class="footer-item clear-footer">Methodologie</p></a>
        </div>
        <div class="footer-grid-second">
            <a href="../newsletter"><p class="footer-item-first clear-footer">Newsletter-Abo</p></a>
            <a href="../datenschutz"><p class="footer-item clear-footer">Datenschutz</p></a>
            <a href="../kontakt"><p class="footer-item clear-footer">Kontakt & Fragen</p></a>
            <a href="../impressum"><p class="footer-item clear-footer">Impressum</p></a>
        </div>
    </div>
	</div>

</main>


<!-- Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="{% static 'honoradar/js/jquery.js'%}"></script>
    <script src="{% static 'honoradar/js/javascript.js'%}"></script>
    <script src="{% static 'honoradar/js/javascript-new.js'%}"></script>
    <script src="{% static 'honoradar/js/datalist.polyfill.js'%}"></script>
    <script src="{% static 'honoradar/js/datalist.polyfill.min.js'%}"></script>
    <script src="{% static 'honoradar/navbar/js/modernizr.js'%}"></script>
    <script src="{% static 'honoradar/navbar/js/jquery-2.1.1.js'%}"></script>
    <script src="{% static 'honoradar/navbar/js/main.js'%}"></script>
    <script src="{% static 'honoradar/lity/vendor/jquery.js'%}"></script>
    <script src="{% static 'honoradar/lity/dist/lity.js'%}"></script>

<!-- Datalist Fix -->
<script>

</script>

<!-- jQuery (required for this Ajax tutorial) -->
    <script> function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }

      var csrftoken = getCookie('csrftoken');

      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });
    </script>
    {%block javascript2 %}
    <script>
    $(document).ready(function(){
        var $myForm = $("#giv-form")
        $myForm.submit(function(event){
            event.preventDefault()
            var $formData = $(this).serialize()
            console.log($formData)
            var $name = $myForm.attr('name')
            console.log($name)
            var $url = $myForm.attr('data-url')
            console.log($url)
            $.ajax({
            method: "POST",
            url: $url,
            data: $formData,
            success: handleFormSuccessPost,
            error: handleFormErrorPost,

        })

      })
      function handleFormSuccessPost(data, textStatus, jqXHR) {
          console.log(data)
          const alertdiv = document.getElementById('WARNING')

          alertdiv.innerHTML = ""
          alertdiv.innerHTML = "<strong>Achtung! </strong>Es fehlen noch Angaben zu folgenden Pflicht-Feldern: "
          const size = Object.keys(data).length;
          console.log(size)
          const $Warning = $("#WARNING")


          for (i = 0; i < size; i++) {
              console.log(i);
              alertdiv.classList.add("show");
              alertdiv.classList.remove("hide");
              keyname = String("message" + String(i));
              if (i == 0) {
                  $Warning.append('<span>' + String(data[keyname]) + '</span>');
              } else {
                  $Warning.append('<span>, ' + String(data[keyname]) + ' </span>');

              }

          }
          console.log(textStatus)
          console.log(jqXHR)
          $myForm[0].reset(); // reset form data
      }

      function handleFormErrorPost(jqXHR, textStatus, errorThrown) {
          console.log(jqXHR)
          console.log(textStatus)
          console.log(errorThrown)
      }
  })
</script>
    {%endblock javascript2 %}
    {%block javascript3 %}
    <script>
    $(document).ready(function(){
        var $myForm = $("#get-form")
        $myForm.submit(function(event){
            event.preventDefault()
            var $formData = $(this).serialize()
            console.log($formData)
            var $name = $myForm.attr('name-get')
            console.log($name)
            var $url = $myForm.attr('data-url-get')
            console.log($url)
            $.ajax({
            method: "GET",
            url: $url,
            data: $formData,
            success: handleFormSuccessGet,
            error: handleFormErrorGet,

        })

      })
      function handleFormSuccessGet(data, textStatus, jqXHR) {
          console.log(data)
          const resultsdiv = document.getElementById('result')

          const size = Object.keys(data).length;
          console.log(size)
          resultsdiv.innerHTML = ""

          const $result = $("#result")
          resultsdiv.classList.add("show");
          resultsdiv.classList.remove("hide");
          $result.append('<div class="banner-left-3">Gehalts- und Lohnreports</div><div class="banner-left-shadow"></div>')

          $result.append('<div class="result-text">' +String(data["mediumname"])+'</div>' )
          $result.append('<div class="result-text">' +String(data["avghappiness"])+'</div>' )



          console.log(textStatus)
          console.log(jqXHR)
          $myForm[0].reset(); // reset form data
      }

      function handleFormErrorGet(jqXHR, textStatus, errorThrown) {
          console.log(jqXHR)
          console.log(textStatus)
          console.log(errorThrown)
      }
  })
</script>
    {%endblock javascript3 %}



</body>

</html>
