

.tutorial-giv {
	height: 200px;
	width: 80%;
	margin: 10px 10% 0px 10%;
	background: url(../image/datenspende.png) no-repeat 0% 0%;
	background-position: center center;
	background-size: 100%; 
	position: relative;
}

.tutorial-get {
	height: 200px;
	width: 80%;
	margin: 10px 10% 0px 10%;
	background: url(../image/datenanalyse.png) no-repeat 0% 0%;
	background-position: center center;
	background-size: 100%; 
	position: relative;
}



